<div class="container-fluid help">
  <div class="container help-content">
    <a href="#" id="btn-help-close" class="btn btn-help-close"><i class="fa fa-times" aria-hidden="true"></i></a>

    <h1>Help</h1>

    <div class="row">
      <p>Help Content</p>
    </div>

    <div class="content-top-space logo-unbox text-center">
      <hr>
      <img src="imgs/logo_unbox_gray.svg" alt="Unbox" title="UNBOX Learning Experience" data-target="" class="" />
    </div>

  </div>
</div>
