<div class="container">
    <div class="jumbotron text-center">
        <h1>Welcome!</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque blandit, nisi in dictum consequat, mi nulla accumsan massa, non mattis elit purus non lacus. Cras quis leo tortor. Sed ac turpis eget metus viverra iaculis.</p>

        <p>
            <button id="start-btn" class="btn btn-primary" href="#" role="button">Start</button>
        </p>
    </div>
</div>

<div class="footer">
    <div class="container">
        <p class="small muted">Todos os direitos reservados e protegidos pela Lei 9.610 de 19/02/1998 pertencem a UNBOX® Learning Experience. Não é permitida a comercialização, reprodução, transmissão, modificação, publicação ou distribuição, a qualquer título ou forma, de parte ou da íntegra do conteúdo deste material.</p>
    </div>
</div>
